html, body {
    position: relative;
    font-family: 'Open Sans', verdana, Arial, serif;
    background-color: #ffffff;
    margin: 0;
}

p {
    font-size: 14px;
}

ul li {
    list-style: none;
    font-size: 14px;
}

ul.bullet li {
    list-style: disc;
    padding: 0;
    background-image: none;
    margin-bottom: 5px;
}

.select2-results ul {
    padding: 0;
}

.sg-page-header {
    border-top: 5px solid #ff6600;
}

.sg-page-header img {
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.affix {
    top: 80px;
    position: fixed;
    width: 100%;
}

#aw-scrollspy {
    width: 250px;
}

.sg-lhs {
    width: 80%;
    float: left;
    padding: 50px;
    overflow: hidden;
}

.sg-rhs {
    float: right;
    padding: 20px 0;
    width: 249px;
    right: 0;
}

.sg-rhs .nav > li > a {
    font-size: 15px;
    padding: 5px 10px;
    border-left: 2px solid transparent;
    background-color: transparent;
    transition: border-left-color 0.4s ease-out;
    -webkit-transition: border-left-color 0.4s ease-out;
}

.sg-rhs .nav li.active a {
    border-color: #ff6600;
    color: #ff6600;
}

h1.sg {
    font-size: 42px;
    margin-top: 150px;
    margin-bottom: 20px;
    font-weight: normal;
}

h2.sg {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    font-weight: normal;
    border: none;
}

h3.sg {
    font-size: 14px;
}

h1.first-heading {
    margin-top: 20px;
}

.sg-lhs .nav-sg {
    margin-right: 0;
    width: 250px;
}

.sg-lhs .nav-sg > li > a {
    font-size: 12px;
    color: #ff6600;
}

.sg-lhs pre.prettyprint {
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
}

#icons .row .fa {
    font-size: 16px;
    margin-bottom: 12px;
}

.boxLtGrey {
    padding-bottom: 10px;
}

#popup_container {
    width: 45%;
    min-width: 450px;
    border: 15px solid #ccc;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

pre.prettyprint, xmp.prettyprint {
    background-color: #f5f5f5;
    border: none;
    padding-bottom: 20px;
    padding-left: 20px;
}

.pln { color: #000 }
.str { color: #080 }
.kwd { color: #008 }
.com { color: #666 }
.typ { color: #606 }
.lit { color: #066 }
.pun, .opn, .clo { color: #660 }
.tag { color: #008 }
.atn { color: #606 }
.atv { color: #080 }
.dec, .var { color: #606 }
.fun { color: red }
